$color-green-dark : #3aa5a9;
$bg-color-pink-light: #fffef4;
$color-green-light : #9fedd7;
$color-yellow : #fce181;
$color-skyblue: #eff6fb;
$color-darkblue: #0071bd;
$color-green: #9fedd7;
$color-darkYellow: #ffce2d;
$color-blue: #0d569b;
$color-red: #e64143;
$color-grey: #484848;
$color-greenWork: #10e1ba;
$color-cream : #fef9c7;

// BreakPoints

// Small tablets and large smartphones (landscape view)
$breakpoint-mobile: 576px;

// Small tablets (portrait view)
$breakpoint-tablet: 768px;

// Tablets and small desktops
$breakpoint-laptops: 992px;

// Large tablets and desktops
$breakpoint-desktop: 1200px;