.Careers {
  padding: 2rem 0rem;
  &__title {
    text-align: center;
    &--heading {
      font-weight: bold;
    }
  }
  &__row {
    margin: 0rem 0.2rem;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 11%);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
    align-items: center;
    &--title {
      font-size: 1.5rem;
      font-weight: bold;
    }
    &--date {
      font-size: 1.2rem;
      font-weight: bold;
      h6 {
        font-weight: bold;
      }
    }
    &--button {
      @include button;
    }
    &--SkillSet {
      margin-top: 2rem;
      background-color: $color-green-dark;
      border-radius: 10px;
      color: #ffffff;
      max-height: 0px;
      transition: max-height 0.3s ease-in-out;
      &--heading {
        font-size: 1.1rem;
        font-weight: bold;
      }
      &--list {
        font-size: 1rem;
      }
    }
  }
  .hide-box {
    max-height: 1500px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .Careers {
    &__row {
      &--SkillSet {
        &--list {
          font-size: 0.8rem;
        }
      }
    }
  }
}
