.team {
  padding: 5rem 0rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &__row {
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    &--heading {
      max-width: 28rem;
      font-weight: bold;
    }
    &--content {
      max-width: 30rem;
    }
  }
}
